
  <body>
    <div class="container">
      <div class=" text-center">
        <h1>Welcome to Employee Relations</h1>
        <hr class="my-4">
        <p class="lead">We are a company dedicated to providing the best service in the industry.</p>
        <%= link_to "Learn More", home_about_path, class:"btn btn-primary" %>
      </div>
      <div class="container ">
      <div class="row">
        <div class="col-md-12">
          <h1>News</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="<%=@image1%>"  alt="NewsImage1">
            <div class="card-body">
              <h4 class="card-title"><%=@title1%></h4>
              <p class="card-text"><%=@description1%></p>
              <a href=<%=@url1%> class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="<%=@image2%>" alt="NewsImage2" >
            <div class="card-body">
              <h4 class="card-title"><%=@title2%></h4>
              <p class="card-text"><%=@description2%></p>
              <a href=<%=@url2%> class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="<%=@image3%>" alt="NewsImage3" >
            <div class="card-body">
              <h4 class="card-title"><%=@title3%></h4>
              <p class="card-text"><%=@description3%></p>
              <a href=<%=@url3%> class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
